<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>API Call Example</title>
</head>
<body>
<h1>Current Score:</h1>
<pre id="score"></pre>
<button onclick="myJavascriptFunction()">Click me</button>

<script type="text/javascript">
    function myJavascriptFunction() {
    const apiUrl = 'https://3ydb3m9sxc.execute-api.us-east-1.amazonaws.com/Default/get-score?teamName=josh';

    // Make a GET request
    fetch(apiUrl)
        .then(response => {
            if (!response.ok) {
                throw new Error('Network response was not ok');
            }
            return response.json();
        })
        .then(data => {
            // Display the response data
            document.getElementById('score').textContent = JSON.stringify(data, null, 2);
        })
        .catch(error => {
            console.error('Error:', error);
        });
    }
</script>
</body>
</html>
